**/build
**/xcuserdata
**/xcuserdata
# **/*.xcuserdatad
**/Temp

# =============== #
# Unity generated #
# =============== #
Temp/
Library/
**/*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
**/*.csproj
*.pidb
*.suo
**/*.sln
*.user
*.unityproj
*.booproj
ChatSDKDemo/.vs
ChatSDKDemo/ProjectSettings/

**/Release

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# ========== #
# iOS ignore #
# ========== #
*.a
*.zip
*.framework
documents/
**/xcshareddata
**/xcuserdata


# ========== #
# mac ignore #
# ========== #
*.bundle

easemob.log
easemobDB/
easemobLog/
DerivedData/

**/UserPrefs
